{% extends 'layout.html' %}
{% block content %}
<h3>Absensi Kelas</h3>

<div class="card p-3 mb-4 shadow-sm">
    <h5>Isi Absensi Hari Ini</h5>
    <form method="POST">
        <div class="row">
            <div class="col-md-4 mb-2">
                <input type="date" name="tanggal" class="form-control" required>
            </div>
            <div class="col-md-4 mb-2">
                <select name="status" class="form-select">
                    <option value="Hadir">Hadir</option>
                    <option value="Izin">Izin</option>
                    <option value="Sakit">Sakit</option>
                </select>
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary w-100">Kirim Absen</button>
            </div>
        </div>
    </form>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Tanggal</th>
            <th>Nama Mahasiswa</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for a in data_absen %}
        <tr>
            <td>{{ a[1] }}</td>
            <td>{{ a[2] }}</td>
            <td>{{ a[3] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
